<div class="opm-mt-interface">
  <h1>OpM Mechanical Turk: Correction Form</h1>
  <h3 class="opm-mt-question"></h3>
  <div class="opm-mt-answer-wrapper">
    <!-- Short Answer -->
    <!-- Multiple Choice -->
  </div>
  <button class="opm-mt-btn-submit">Submit</button>
  <button class="opm-mt-btn-next">Skip</button>
</div>
