<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

  <head>
    <meta charset="utf-8" />

    {% block pageTitle %}
        <title>S3 Site Cache | Sites List</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
      {% if buckets.length %}
        <h2>Bucket Site Directory:</h2>
        <ul>
          {% for bucket in buckets %}
            <li>
              <ul>
                <a href="/s3/{{ bucket.name }}">{{ bucket.name }}</a>
                {% for path in bucket.paths %}
                  <li>
                    <a href="/s3/{{ bucket.name }}{{ path }}">..{{ path }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>

          {% endfor %}
        </ul>
      {% else %}
        <h2>
          No buckets were found!
        </h2>
      {% endif %}
    {% endblock %}
  </body>
</html>
