.opm-mt-interface {
  bottom: 0;
  height: 20vh;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.opm-mt-interface > h1 {
  text-align: center;
  font-size: 1.5rem;
}

.opm-mt-question::before {
  color: #225522;
  content: 'Q: ';
  font-size: 1.25rem;
}

.opm-mt-question {
  font-size: 1.2rem;
}

.opm-mt-answer-wrapper {
  display: flex;
}

.opm-mt-btn-submit {
  background-color: #008800;
}

.opm-mt-btn-submit:hover {
  background-color: #338833;
}

.opm-mt-btn-submit:active {
  background-color: #225522;
}

.opm-mt-btn-next {

}
